.square {
  border: 1px solid #999;
  background: #505050;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10,30px);
  grid-template-rows: repeat(20,30px);
}
